@model ReportMeeting.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.platformId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.platformId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.architectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.architectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jiraLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jiraLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
