@model IEnumerable<ReportMeeting.Models.Users>

@{
    ViewData["Title"] = "Index";
    var isAdmin = ViewBag.User.roleId == 4;
}

<h3 class="mb-4" style="color:darkblue;">List of all employees and its role</h3>

@if (isAdmin)
{
    <a asp-action="Create" class="btn btn-primary mb-4">Add new employee</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Role
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role.name)
            </td>
            <td>
                @if (isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm"><i class="fas fa-pencil"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                }

                @if (ViewBag.User.id == item.id && !isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm"><i class="fas fa-pencil"></i></a>
                }
                </td>
        </tr>
    }
    </tbody>
</table>
